.mainDiv {
    width: 111%;
    justify-content: center;
    align-items: stretch;
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.leftDiv {
    margin-left: 1rem;
}

.rightDiv {
    position: inherit;
    display: inline-flex;
}