ul {
    list-style: none;
    border-bottom: 1px dashed darkred;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #fffffd;
    border-radius: 15px;
    margin: 10px;
}

.mainDiv {
    min-height: 49rem;
    background-color: rgb(108, 189, 226); /*lightgrey;*/
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: scroll;
    scroll-behavior: smooth;
    margin-bottom: 10px;
}

.confirmOrder {
    position: absolute;
    left: 25%;
    border: 2px dashed green;
    padding: 5px;
    width: 50%;
    height: 50%;
    min-height: 30rem;
    max-height: 35rem;
    overflow: scroll;
    scroll-behavior: smooth;
    z-index: 99999999999;
    background-color: darkseagreen;
    top: 13rem;
}

.confirmOrderInputs {
    width: 70%;
    margin-bottom: 5px;
    margin-left: 7rem;
}

.ordersHeading {
    margin-left: 45%;
    margin-top: 10px;
}

.noOrders {
    position: fixed;
    top: 45%;
    left: 38%;
    font-size: xxx-large;
}